a {
    line-height: 1;
    color: #e74c3c;
    text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-info {
  background-color: #212529 !important;
}

.container-fluid {
  padding: 0px;
}

*:not(.fa):not(.bb-btn):not(.ui-dialog-titlebar-close) {
    font-family: kurale,serif!important;
}

.nav-link {
  color: #fff!important;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
}

.nav-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-menu {
  margin: 13px 0px;
  border-radius: 5px;
  border: solid silver 2px;
  padding: 2px;
}

.b-nav-dropdown {
  margin: 13px 0px;
  padding: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 36px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  font-size: 14px;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 88px;
  outline: 0;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s cubic-bezier(.25,.8,.5,1),color 1ms;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.alert-secondary {
  border: none;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 2px 2px 3px #313335;
  margin-top: 0px;
}

.alert-dark {
  border: none;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

.news-item {
  border: solid silver 1px;
  padding: 10px;
  font-size: 16px;
}

.news-row {
  margin-left: 0px;
  margin-right: 0px;
}

.card {
  box-shadow: none;
}

.right-bar-h1 {
  font-size: 1.5rem;
  margin-top: 7px;
}

.main-alert {
  color: #212529;
}

.fs-25 {
  font-size: 25px;
}

.fs-16 {
  font-size: 16px;
}

.bg-dark {
  background-color: #343a40 !important;
}

.btn {
  min-width: 40px;
}
