<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Risens Team</title>

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap-vue.css"/>
    <link href='css/css.css' rel="stylesheet">
    <link href="css/vuetify.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/polyfill.min.js"></script>
    <script src="js/bootstrap-vue.js"></script>
  </head>
  <body>
  <div id="app">
    <b-container fluid>
      <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="index.html">
          <b-img src="img/logo_1.png" alt="Risens Team">
        </b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item href="category.html">Новости</b-nav-item>
            <b-nav-item href="category.html">Онгоинги</b-nav-item>
            <b-nav-item href="category.html">База аниме</b-nav-item>
            <b-nav-item href="category.html">Манга</b-nav-item>
            <b-nav-item href="category.html">Новеллы</b-nav-item>
          </b-navbar-nav>
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item class="button-menu btn btn-secondary text-xs-center">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
            </b-nav-item>
            <b-nav-item>
              <b-nav-form action="search.html">
                <b-form-input size="sm" class="mr-sm-2 w-100" type="text" placeholder="Поиск"></b-form-input>
              </b-nav-form>
            </b-nav-item>
            <b-dropdown right toggle-class="button-menu">
              <!-- Using button-content slot -->
              <template slot="button-content">
                <i class="fa fa-sign-in"></i>
              </template>
              <b-dropdown-item class="avatar"><img src="img/foto_1.gif" alt="Alorian"></b-dropdown-item>
              <b-dropdown-item href="#">Админпанель</b-dropdown-item>
              <b-dropdown-item href="#">Мой профиль</b-dropdown-item>
              <b-dropdown-item href="#">Мои закладки (9)</b-dropdown-item>
              <b-dropdown-item href="#">Непрочитанное</b-dropdown-item>
              <b-dropdown-item href="#">Последние комментарии</b-dropdown-item>
              <b-dropdown-item href="#">Выход</b-dropdown-item>
            </b-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>

      <b-row no-gutters>
        <b-col class="px-1">
          <a href="#">
            <b-img center fluid src="img/donate_banner_2.jpg">
          </a>
          <b-alert show variant="secondary">Собрано 0 из 5000 рублей</b-alert>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col class="px-1 text-xs-center" order="2">
          <!-- Main block -->
          <b-alert show variant="dark">
            <div class="text-xs-center main-alert">
              НАЗВАНИЕ КАТЕГОРИИ
            </div>
          </b-alert>
          <b-card-group deck class="justify-content-center">
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
            <b-card
                    style="min-width:15rem;; max-width:25rem;"
                    no-body
                    class="mb-2">
              <b-link to="#">
                <b-card-img
                          src="img/3mha_new.jpg"
                          alt="My Hero Academia 3"
                          top><b-card-img>
              </b-link>
              <b-card-body>
                <h4 class="card-title">Моя геройская академия 3 сезон 4 ctpjy 5 сезон 6 сезон очень длинное название</h4>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
        <b-col class="px-1" md="3" order="1">
          <!-- Right column -->
            <b-alert show variant="dark">
              <div class="text-xs-center fs-25">
                <a href="#">Новости</a>
              </div>
            </b-alert>
            <b-row class="text-xs-center news-row">
              <b-col class="news-item" cols="12">
                <a href="#">Насколько всё плохо у Beatless и когда ждать следующую серию</a>
              </b-col>
              <b-col class="news-item" cols="12">
                <a href="#">Сказочная девочка «отдыхает» до 22 марта</a>
              </b-col>
              <b-col class="news-item" cols="12">
                <a href="#">Токийский Гуль возвращается: амнезия и смена декораций</a>
              </b-col>
            </b-row>
            <b-alert show variant="dark">
            <div class="text-xs-center fs-25">
              <a href="#">Расписание</a>
            </div>
            </b-alert>
            <template>
              <div role="tablist">
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion1>Понедельник</div>
                  </b-card-header>
                  <b-collapse id="accordion1" v-model="showCollapse1" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion2>Вторник</div>
                  </b-card-header>
                  <b-collapse id="accordion2" v-model="showCollapse2" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion3>Среда</div>
                  </b-card-header>
                  <b-collapse id="accordion3" v-model="showCollapse3" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion4>Четверг</div>
                  </b-card-header>
                  <b-collapse id="accordion4" v-model="showCollapse4" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion5>Пятница</div>
                  </b-card-header>
                  <b-collapse id="accordion5" v-model="showCollapse5" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion6>Суббота</div>
                  </b-card-header>
                  <b-collapse id="accordion6" v-model="showCollapse6" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion7>Воскресенье</div>
                  </b-card-header>
                  <b-collapse id="accordion7" v-model="showCollapse7" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
                <b-card no-body class="mb-1 text-center fs-16">
                  <b-card-header header-tag="header" class="p-1" role="tab">
                    <div v-b-toggle.accordion8>Нестабильные</div>
                  </b-card-header>
                  <b-collapse id="accordion8" accordion="my-accordion" role="tabpanel">
                    <b-card-body>
                      <a href="#">Повар небесной гостиницы / Kakuriyo no Yadomeshi</a>
                      <hr>
                      <a href="#">Легенда о героях Галактики (2018) / Ginga Eiyuu Densetsu: Die Neue These - Kaikou</a>
                    </b-card-body>
                  </b-collapse>
                </b-card>
              </div>
            </template>
            <div id="vk_groups"></div>
            <h1 class="right-bar-h1 text-xs-center">Смотреть онлайн аниме в HD (720 и 1080) с русскими субтитрами и русской озвучкой, а также читать мангу в русском переводе</h1>
        </b-col>
      </b-row>
      <template>
        <v-footer height="auto">
          <v-card
            flat
            tile
            class="bg-dark lighten-1 white--text text-xs-center"
          >
            <v-card-text class="white--text pt-0">
              Японская анимация обладает качеством и уникальностью. Все дело в особом менталитете и, конечно же, оригинальной рисовке. Аниме не просто жанр, но и целая культура, которая пробуждает фантазию и освещает те осколки жизни, которые составляют смысл самого становления и существования человека. Двадцать первый век привнес в аниме культуру множество перемен, сохранив атмосферу самой Японии и бытность этого потрясающего народа.
              Возможность просмотра аниме и чтение манги в онлайн режиме стала доступна абсолютно каждому. И данный сайт не является исключением — наш проект, Risens Team, раскрывает вам мастерство японских мангак и погружает в мир приключений, экшена, фентези и фантастики. У нас можно посмотреть аниме с русскими субтитрами и озвучкой онлайн. Смотреть онлайн в хорошем качестве — это наша привелегия, как жителей 21-го века! У нас можно найти аниме, мангу, русские субтитры и русскую озвучку в хорошем качестве! Не упусти свою возможность окунуться в мир японской анимации и комиксов без регистрации прямо сейчас!
              <br><strong>Risens Team</strong> — с горячим сердцем на ваши экраны!
            </v-card-text>
            <hr>
            <v-card-text class="white--text">
              2016-2018 © Risens Team, Все права защищены.<br>
              <a href="/about.html">О команде</a> <a href="/abuse.html">Правообладателям</a
            </v-card-text>
          </v-card>
        </v-footer>
      </template>
    </b-container>
  </div>
  <script type="text/javascript">
    window.onload = function() {  VK.Widgets.Group("vk_groups", {mode: 4, width: "auto", height: "400"}, 117869331); };
  </script>
  <script>

      window.app = new Vue({
        el: "#app",
        data: {
          showCollapse1: false,
          showCollapse2: false,
          showCollapse3: false,
          showCollapse4: false,
          showCollapse5: false,
          showCollapse6: false,
          showCollapse7: false,
        },
        computed: {
        },
        mounted: function () {
          let d = new Date();
          let n = d.getDay();
          switch (n) {
            case 1:
              this.showCollapse1 = true;
              break;
            case 2:
              this.showCollapse2 = true;
              break;
            case 3:
              this.showCollapse3 = true;
              break;
            case 4:
              this.showCollapse4 = true;
              break;
            case 5:
              this.showCollapse5 = true;
              break;
            case 6:
              this.showCollapse6 = true;
              break;
            case 0:
              this.showCollapse7 = true;
              break;
            default:
              break;
          }
        }
      });
    </script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?121"></script>
  </body>

</html>
